/* ------------
font family 
----------- */

@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500&display=swap");

/*--------------------
 universal selector 
 -------------- */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  list-style: none;
  font-family: "Poppins", sans-serif;
}
/*--------------
 global image 
 ------------- */
img {
  width: 100%;
}

/* ------------  
website header nav item 
---------------- */
nav {
  width: 100%;
  height: 6rem;
  background: #562eff;
  display: flex;
  justify-content: space-around;
  align-items: center;
}
.logo {
  display: flex;
  align-items: center;
  gap: 20px;
}
.logo h1 {
  font-size: 24px;
  color: #ffffff;
  font-weight: 500;
}
.logo img {
  width: 40px;
  height: 51px;
}
.navitem {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 40px;
}
.navitem li a {
  color: #ffffff;
  font-weight: 400;
  font-size: 16px;
}
/* -------------
 header navbar end
 ------------  */
main {
  width: 100%;
  background: #f3f1ff;
}
.heading {
  padding: 30px 0px;
}
.heading h1 {
  font-size: 24px;
  font-weight: 500;
  color: #562eff;
}
.container {
  display: flex;
  justify-content: center;
}
.hero-playerbox {
  width: 900px;
  background: #ffffff;
  padding: 0 50px;
  margin-top: 40px;
  border-radius: 4px;
}
.hero-player-item {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-row-gap: 30px;
}
.player-content {
  display: flex;
  align-items: center;
}
.player-content h3 {
  padding-left: 20px;
  font-weight: 500;
  font-size: 18px;
}
.player-content img {
  width: 56px;
  height: 56px;
}
.empht-line {
  margin: 30px 0;
  opacity: 0.3;
}

/*---------------
 blogs section start 
----------- */
.bolg-container-item {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-row-gap: 30px;
  padding-bottom: 30px;
}
.blog-container-box {
  width: 900px;
  background: #ffffff;
  padding: 0 50px;
  border-radius: 4px;
}
.bolg-content {
  display: flex;
  align-items: center;
}
.bolg-content .blog-image img {
  width: 177px;
  height: 117px;
}
.blog-about {
  padding: 0 20px;
}
.blog-about h1 {
  font-size: 20px;
  font-weight: 500;
}
.blog-about a {
  color: #562eff;
  font-weight: 500;
  font-size: 14px;
}
/*----------------
 blog section end 
-------------- */
.course-container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  margin-bottom: 20px;
}
.course-content {
  padding: 30px 10px 20px;
  box-shadow: rgba(239, 241, 243, 0.911) 0px 8px 24px;
  margin: 0 10px;
  border-radius: 20px;
}
.course-content h1 {
  font-size: 18px;
  font-weight: 500;
}
.course-content p {
  color: #ed6b4f;
  padding-bottom: 15px;
}
.course-container .course-content img {
  width: 225px;
  height: 104px;
}
.course-container .course-content p {
  color: #ed6b4f;
  font-size: 14.06px;
  font-weight: 400;
}
.rating-box {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.bxs-star {
  color: #ffc014;
  font-size: 12px;
}
.bxs-star.empty {
  color: #aeaeae;
}
.corse-retig {
  color: #a2a2a2;
}
.rating-box-hour {
  border-radius: 30px;
  background: #ffe4e8;
  padding: 5px 10px;
}
.rating-box-hour a {
  color: #ff4a60;
  font-size: 14px;
}

/*-----------------
 media quary add 
---------- */
/*-----------
 media for mobile 768
 -------------- */
@media (min-width: 500px) and (max-width: 786px) {
  .heading {
    text-align: center;
  }
  .hero-player-item {
    grid-template-columns: repeat(2, 1fr);
  }
  .player-content {
    display: flex;
    flex-direction: column;
  }
  .bolg-container-item {
    grid-template-columns: repeat(2, 1fr);
  }
  .bolg-content {
    display: flex;
    flex-direction: column;
    text-align: center;
  }
  .course-container {
    grid-template-columns: repeat(2, 1fr);
    text-align: center;
  }
}

/*-----------
 media for mobile 480
 -------------- */
@media (max-width: 499px) {
  .hero-player-item {
    grid-template-columns: repeat(1, 1fr);
  }
  .player-content {
    display: flex;
    flex-direction: column;
  }
  .bolg-container-item {
    grid-template-columns: repeat(1, 1fr);
  }
  .bolg-content {
    display: flex;
    flex-direction: column;
    text-align: center;
  }
  .course-container {
    grid-template-columns: repeat(1, 1fr);
    text-align: center;
  }
}
